# Dart
.dart_tool/
.packages
.pub/
build/
*.dart.js
*.info.json
*.js.deps
*.js.map

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Coverage and logs
coverage/
*.log

# Other temporary files
pubspec.lock
